extends layout

block content
  form(method='post')
    input(type='text',name='title')
    textarea(name='description')
    input(type='submit')
  ul
    each item in tasks
      li
        form(method='post',action='/state')
          input(type='hidden',name='id',value=(item.id))
          label= item.title
            input(type='checkbox',name='done',onchange='this.form.submit()',checked=(item.done ? true : false))
